<!-- Wappler include head-page="layouts/layout2" is="dmx-app" id="familyDetails" appconnect="local" fontawesome_5="cdn" components="{dmxBootbox:{},dmxDataTraversal:{},dmxDatePicker:{},dmxBootstrap4Modal:{},dmxValidator:{},dmxFormatter:{},dmxBootstrap5Offcanvas:{},dmxCalendar:{},dmxBootstrap5Collapse:{},dmxBootstrap5Modal:{},dmxBootstrap5Navigation:{},dmxAnimateCSS:{},dmxNotifications:{},dmxPreloader:{},dmxStateManagement:{},dmxBootstrap5TableGenerator:{},dmxMasonry:{},dmxBootstrap5Tooltips:{},dmxBrowser:{},dmxMoment:{},dmxDownload:{},dmxDatastore:{},dmxBootstrap5Alert:{},dmxBootstrap5Toasts:{},dmxMediumEditor:{},dmxSummernote:{},dmxSummernoteFileUpload:{},dmxGooglePlaces:{},dmxAutocomplete:{},dmxBootstrap5Popovers:{},dmxTyped:{},dmxSockets:{},dmxStripe:{},dmxBootstrap5PagingGenerator:{},dmxBootbox5:{}}" moment_2="cdn with locales" jquery_slim_35="cdn" bootstrap5="local" -->
<meta name="ac:route" content="/families/familydetail/:familyid">
<script is="dmx-flow" id="flow_pagetitle" type="text/dmx-flow" src="/app/flows/utilities/pagetitle.json" dmx-param:title="'Family: '+familyDetails.data.query_family_details.lastName+', '+familyDetails.data.query_family_details.firstName"></script>
<dmx-preloader id="familyDetail_preloader" head-page="layouts/layout2" spinner="wanderingCubes" bgcolor="rgba(255,255,255,1)" style="z-index: 1051;"></dmx-preloader>
<dmx-serverconnect id="sc_GET_FAMILY_guardians" url="/api/families/guardians/GET_FAMILY_guardians" dmx-param:family_uuid="query.familyid"></dmx-serverconnect>
<dmx-serverconnect id="sc_GET_FAMILY_students" url="/api/families/student/GET_FAMILY_students" dmx-param:family_uuid="query.familyid"></dmx-serverconnect>
<dmx-serverconnect id="familyDetails" url="api/families/GET_FAMILY_details" dmx-param:familyid="query.familyid" dmx-param:familyuuid="query.familyid" dmx-on:start="toggle_loadingplaceholders.check()" dmx-param:family_uuid="query.familyid" dmx-on:done="run([{run:{action:`flow_pagetitle.run()`}},{wait:{delay:150}},{condition:{if:`query.newstudent`,then:{steps:[{run:{action:`cr_familyoverview.oc_studentDetails.var_studentdetails_uuid.setValue(query.newstudent_uuid);cr_familyoverview.oc_studentDetails.GET_STUDENT_details.load({student_uuid:query.newstudent_uuid});cr_familyoverview.oc_studentDetails.show()`}},{run:{action:`qm_familydetails.remove(\'newstudent\');qm_familydetails.remove(\'newstudent_uuid\')`}}]}}}])"></dmx-serverconnect>
<dmx-session-manager id="ledgerStorage"></dmx-session-manager>
<dmx-value id="topPriorityNotes" dmx-bind:value="familyDetails.data.familyNotes[0].maxPriority == 5 ? 'Has Critical Note/s' : familyDetails.data.familyNotes[0].maxPriority == 4 ? 'Has High Priority Note/s' : familyDetails.data.familyNotes[0].maxPriority == 3 ? 'Has Medium Note/s' : 'Has Notes';">
</dmx-value>
<div class="section overlay" dmx-class:overlay-show="editGuardian.value === 1"></div>
<dmx-query-manager id="qm_familydetails"></dmx-query-manager>
<dmx-serverconnect id="checkEmail" noload url="/api/families/checkEmail" dmx-on:success="createGuardianModalForm.arr_emailAddresses.addUniq(createGuardianModalForm.hd_emailObj.value)">
</dmx-serverconnect>
<dmx-serverconnect id="deleteGuardianPhone" url="/api/deleteGuardianPhone" noload></dmx-serverconnect>
<dmx-serverconnect id="createGuardian" url="api/createGuardian" dmx-param:familyid="query.familyid" noload="">
</dmx-serverconnect>
<dmx-serverconnect id="deleteGuardian" url="/api/families/guardians/deleteGuardian" dmx-param:guardianid="" noload="">
</dmx-serverconnect>
<dmx-serverconnect id="deleteFamily" url="/api/deleteFamily" dmx-param:familyid="" noload></dmx-serverconnect>
<dmx-serverconnect id="deleteFamilyNote" url="api/deleteFamilyNote" dmx-param:guardianid="updateGuardianModal.data_detail1.data.id" noload="" dmx-param:noteid=""></dmx-serverconnect>
<dmx-serverconnect id="updateFamily" url="api/updateFamily" dmx-param:familyid="familyDetails.data.familyDetails.id" noload="" dmx-param:family_id="query.familyid"></dmx-serverconnect>
<dmx-serverconnect id="updatePrimaryGuardian" url="api/updateFamilyPrimaryGuardian" dmx-param:familyid="query.familyid" noload=""></dmx-serverconnect>
<dmx-serverconnect id="getGuardianContactDetails" url="/api/getGuardianContactDetails" noload></dmx-serverconnect>


<dmx-serverconnect id="deleteGuardianEmail" url="/api/deleteGuardianEmail" noload></dmx-serverconnect>
<div class="container d-none" id="countries_states_scs">
    <dmx-serverconnect id="getCountries" url="/api/baseActions/localizations/GET_countries"></dmx-serverconnect>
    <dmx-serverconnect id="getCountryStates" url="/api/baseActions/getCountryStates" noload dmx-param:countryid="" dmx-on:success="address_createModal.form_createAddress.sel_state.setValue(getstateid.data.stateid.id)">
    </dmx-serverconnect>
    <dmx-serverconnect id="getcountryid" url="/api/baseActions/google/places/get_countryid" dmx-param:country="" noload>
    </dmx-serverconnect>
    <dmx-serverconnect id="getstateid" url="/api/baseActions/google/places/get_stateid" dmx-param:country="address_createModal.form_createAddress.inp_residenceAutocomplete.components.country.long" dmx-param:state="" noload></dmx-serverconnect>
</div>
<dmx-value id="editGuardian" dmx-bind:value="0"></dmx-value>






<div class="modal fade" id="ledger_runCharge" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary-main">
                <h5 class="modal-title fw-300"><i class="bi-lightning-charge-fill me-3 fs-4"></i>Run a Charge.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0 d-flex flex-column">
                <dmx-serverconnect id="tuitionquotesettings" url="/api/families/ledger/tuitionquotesettings" dmx-param:startdate="ledger_runCharge.chargePeriod_startDate.value" dmx-on:done="arr_chargePeriods.empty()" noload>
                </dmx-serverconnect>
                <dmx-serverconnect id="tuitionquote" url="/api/families/ledger/tuitionquote" noload dmx-param:familyid="query.familyid" dmx-param:periods="ledger_runCharge.arr_chargePeriods.items" dmx-on:done="run([{wait:{delay:750}},{runJS:{function:'initMergeTable',args:['.periodChargeBreakdown','3,4,5,6,7,8,9,10,11'],name:'initMergeTable'}}])" dmx-param:family_uuid="query.familyid">
                </dmx-serverconnect>
                <dmx-array id="arr_chargePeriods" dmx-on:updated="run([{run:{action:`arr_chargePeriods.sort()`}},{run:{action:`tuitionquote.reset()`}},{runJS:{function:'removeMergeTable'}}])">
                </dmx-array>
                <div class="row border-bottom mb-2 pt-3 pb-3">
                    <div class="col-auto">
                        <label for="chargePeriod_startDate" class="col-form-label pt-0 fw-600">Show Charge Periods
                            From:</label>
                        <i class="bi-question-circle-fill ms-3 clickable user-select-none" dmx-bs-popover="'<strong>Monthly Billing Cycle:</strong><br><p>If you use monthly billing cycle, 12 months of cycles will be shown, including the month chosen here.</p><strong>Sessions/Terms Billing Cycle:</strong><br><p>Session/Terms billing cycles will show all sessions from the date inputted here inclusive of any session/term this date falls in.</p><em><small>NB: Charge periods will only output students where there was an active enrolment within the month or session/term selected.</small></em>'" data-bs-trigger="hover" data-bs-placement="left" data-bs-html="true" dmx-bind:popover-title="'Charge Periods'"></i>
                        <input id="chargePeriod_startDate" name="chargePeriod_startDate " type="text" class="form-control w-auto" is="dmx-date-picker" format="MMMM - YYYY" size="25" opens="left" dmx-bind:value="dateAndTime_days.datetime.addDays((dateAndTime_days.datetime.getDate() - 1) / -1).formatDate('yyyy-MM-dd')" dmx-on:updated="tuitionquotesettings.load({})">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12 d-flex">
                        <div class="row row-cols-6 w-100 gx-2 gy-3 align-items-stretch pt-2 pb-2 ps-2 pe-2">
                            <div class="col" dmx-bind:for="switch_chargePeriod_{{$index}}" id="rp_chargePeriod" dmx-repeat:rp_chargeperiod="tuitionquotesettings.data.dates">
                                <dmx-toggle id="toggle_chargePeriodHidden" dmx-bind:id="toggle_chargePeriodHidden_{{$index}}" dmx-bind:checked="ledger_runCharge.arr_chargePeriods.items.contains($value)">
                                </dmx-toggle>
                                <div class="row g-0 py-1 px-2 border rounded-3 clickable" dmx-on:click="toggle_chargePeriodHidden.toggle()">
                                    <div class="col-auto d-flex align-items-center justify-content-center">
                                        <div class="form-check form-switch mb-0">
                                            <input class="form-check-input pe-none small" type="checkbox" value="" id="switch_chargePeriod" name="chargeperiod" dmx-bind:name="chargeperiod_{{$index}}" dmx-bind:id="switch_chargePeriod_{{$index}}" dmx-bind:checked="toggle_chargePeriodHidden.checked" dmx-bind:value="$value" dmx-on:updated="run({condition:{if:`switch_chargePeriod.checked`,then:{steps:{run:{action:`ledger_runCharge.arr_chargePeriods.addUniq(switch_chargePeriod.value)`}}},else:{steps:{run:{action:`ledger_runCharge.arr_chargePeriods.remove(switch_chargePeriod.value)`}}}}})">
                                        </div>
                                    </div>
                                    <div class="col align-self-center">
                                        <p class="mb-0 user-select-none lh-1 small" dmx-text="$value.formatDate('MMMM \'yy')">2021 - December</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pb-2 col-12">
                        <div class="row align-items-start row-cols-1 g-0 gy-xs-2" id="run_selectedCharges">
                            <div class="d-flex border-end flex-row justify-content-start align-items-start col-12 border rounded-3 mt-2 pt-2 pb-2 ps-2 pe-2 mt-lg-0 mb-lg-2" dmx-show="ledger_runCharge.arr_chargePeriods.count > 0">
                                <button id="btn_processSelectedCharges" class="btn align-middle btn-secondary" dmx-bind:disabled="arr_chargePeriods.count === 0" dmx-on:click="tuitionquote.load({})" dmx-hide="ledger_runCharge.tuitionquote.data.periodCharges_repeat.hasItems()"><i class="bi-arrow-down-circle me-2"></i>Get Charges
                                </button>
                                <button id="btn_resetSelectedCharges" class="btn align-middle btn-outline-danger" dmx-bind:disabled="arr_chargePeriods.count === 0" dmx-on:click="tuitionquote.reset();arr_chargePeriods.empty()" dmx-hide="!ledger_runCharge.tuitionquote.data.periodCharges_repeat.hasItems()"><i class="bi-arrow-counterclockwise me-2"></i>Reset</button>
                            </div>
                            <div class="col align-self-center order-first order-lg-1 border rounded-3" dmx-hide="arr_chargePeriods.count == 0" dmx-animate-enter.duration:250="fadeIn">
                                <div class="row g-2 mt-lg-0 mb-lg-0 mt-0 mb-0 ms-0 me-0 ps-1 pe-1 position-relative" style="overflow: hidden;" is="dmx-repeat" id="rp_selectedcharges" dmx-bind:repeat="ledger_runCharge.arr_chargePeriods.items" key="$value.replace('-', '')">
                                    <div class="col-auto mb-2" dmx-bind:id="col_selectedCharge_{{$value}}">
                                        <button id="tag_selectedCharge" class="btn btn-sm align-middle border btn-primary-main" dmx-html="$value.formatDate('MMMM - yyyy')+'<i class=&quot;bi-x ms-2 alignmiddle&quot;></i>'" dmx-on:click="arr_chargePeriods.remove($value)">Button
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 gx-0 " dmx-show="ledger_runCharge.arr_chargePeriods.count === 0 &amp;&amp; !ledger_runCharge.tuitionquote.state.executing">
                            <div class="col p-3 rounded-3 mb-2 ledger-placeholder border pe-none user-select-none" style="">
                                <p class="mb-0 fw-450">Choose time periods from the list, then click "Get Charges" to
                                    generate charges for each period.</p>
                            </div>
                        </div>
                        <section id="periodCharges_output" class="pt-2">
                            <div class="row g-0">
                                <div class="col p-5 d-flex align-items-center justify-content-start" dmx-show="ledger_runCharge.tuitionquote.state.executing">
                                    <div class="spinner-border text-primary-main me-3" role="status">
                                    </div>
                                    <h4 class="mb-0">Loading Selected Charges<span is="dmx-typed" strings="..." loop="" hidecursor="" speed="10"></span></h4>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col">
                                    <table class="table align-middle mt-3 table-xlg" dmx-hide="ledger_runCharge.tuitionquote.state.executing || !ledger_runCharge.tuitionquote.data.periodCharges_repeat.hasItems()">
                                        <thead class="fw-bold">
                                            <tr class="border-bottom fw-400 text-muted">
                                                <th class="collapse-cell"></th>
                                                <th>Charge Period</th>
                                                <th>Grand Total</th>
                                                <th>All Discounts<i class="fas fa-question-circle ms-2 clickable user-select-none fa-sm" dmx-bs-popover="'Includes enrolment, family and holding fee discounts.'" data-bs-trigger="hover" data-bs-placement="right" data-bs-html="true" dmx-bind:popover-title="'All Discounts'"></i></th>
                                                <th>Base Rate<i class="fas fa-question-circle ms-2 clickable user-select-none fa-sm" dmx-bs-popover="'The base rate is the price of all enrolments before enrolment discounts and family discounts have been applied.'" data-bs-trigger="hover" data-bs-placement="right" data-bs-html="true" dmx-bind:popover-title="'Base Rate'"></i>
                                                </th>
                                                <th scope="row"></th>
                                            </tr>
                                        </thead>
                                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="ledger_runCharge.tuitionquote.data.periodCharges_repeat" id="tb_rp_familyCharge">
                                            <tr>
                                                <td class="text-end collapse-cell"><button dmx-hide="familycharges.students.length==0" id="btn_showChargeDetails" class="btn btn-link text-ledger btn-sm" dmx-on:click="dc_chargePeriodDetails.toggle()">
                                                        <i class="bi-plus-circle me-2" dmx-class:bi-plus-circle="dc_chargePeriodDetails.collapsed" dmx-class:bi-dash-circle="!dc_chargePeriodDetails.collapsed"></i>Show
                                                        Details
                                                    </button>
                                                </td>
                                                <td dmx-html="'<p class=&quot;fw-450 fs-5 mb-0&quot;>'+familycharges.chargefor+'</p>'+(familycharges.monthlychargeexists.exists == true &amp;&amp; familycharges.monthlychargeexists.status == 200 ? '<small class=&quot;fst-italic lh-1 text-danger fw-400&quot;>Monthly charge already exists. <br> Created: '+familycharges.monthlychargeexists.created.formatDate('yyyy-MM-dd')+'.</small>': familycharges.monthlychargeexists.exists == true &amp;&amp; familycharges.monthlychargeexists.status == 409 ? '<small class=&quot;lh-1 fst-italic text-danger fw-400&quot;><i class=&quot;bi-exclamation-octagon-fill text-danger me-2&quot;></i>'+familycharges.monthlychargeexists.chargeid+'</small>':'')">
                                                </td>
                                                <td dmx-hide="familycharges.students.length == 0" dmx-text="familycharges.tuitiontotals.enrolgrandtotal.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)" class="fs-5 fw-600">$77.50</td>
                                                <td dmx-hide="familycharges.students.length == 0" dmx-text="((familycharges.tuitiontotals.multienrol_discount + familycharges.tuitiontotals.family_discount) + familycharges.tuitiontotals.holding_fee).round(2).formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)" class="fs-5 fw-500 text-ledger">$22.50<br></td>
                                                <td dmx-hide="familycharges.students.length == 0" dmx-text="familycharges.tuitiontotals.baseRate.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)" class="fs-5 fw-350 text-muted">$100.0</td>
                                                <td dmx-hide="familycharges.students.length>0" colspan="4" class="fst-italic text-danger">No Enrolments Found</td>
                                                <td class="collapse-cell">
                                                    <div class="row" is="dmx-if" id="cr_enrolmentsExists" dmx-bind:condition="familycharges.students.length>0"><button id="btn_processCharge" class="btn btn-primary" dmx-hide="familycharges.monthlychargeexists.exists == true && familycharges.monthlychargeexists.status == 409" dmx-on:click="ledger_processCharge.var_chargedetails.setValue($value.familycharges);ledger_processCharge.form_submitCharge.inp_chargeDate.setValue(dateAndTime_days.datetime.formatDate('yyyy-MM-dd'));ledger_runCharge.hide();ledger_processCharge.show()"><i class="bi-lightning-charge-fill me-2"></i>Charge</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="border-0 p-0">
                                                    <div class="collapse" dmx-bind:id="dc_chargePeriodDetails_{{$index}}" id="dc_chargePeriodDetails" is="dmx-bs5-collapse" style="overflow-x: auto;">
                                                        <div class="row g-0 row-cols-1" id="rp_chargestudents" is="dmx-repeat" dmx-bind:repeat="familycharges.students">
                                                            <div class="col-12 mb-3 p-3 pe-0">
                                                                <div class="row g-0 mb-1">
                                                                    <div class="col d-flex flex-row justify-content-start align-items-center">
                                                                        <i class="fas fa-child text-primary me-1 fa-fw fa-lg"></i>
                                                                        <h5 class="mb-0 fw-600 text-primary" dmx-text="firstName+' '+lastName">Student
                                                                            Name</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row g-0 pb-1 mt-2 border-bottom" id="rp_chargeweeks_header">
                                                                    <div class="col-1 align-self-center">
                                                                        <p class="mb-0 fw-600">Week Of</p>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="row align-items-end g-0">
                                                                            <div class="col-4">
                                                                                <p class="mb-0 fw-600">Enrolment</p>
                                                                            </div>
                                                                            <div class="col">
                                                                                <p class="mb-0 fw-600">Base Rate</p>
                                                                            </div>
                                                                            <div class="col">
                                                                                <p class="mb-0 fw-600">Total Discounts
                                                                                </p>
                                                                            </div>
                                                                            <div class="col">
                                                                                <p class="mb-0 fw-600">Holding Fee</p>
                                                                            </div>
                                                                            <div class="col">
                                                                                <p class="mb-0 fw-600">Net Total</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row g-0 pb-1 border-bottom row-cols-1 user-select-none" id="rp_chargeweeks" is="dmx-repeat" dmx-bind:repeat="enrolments">
                                                                    <div class="col py-2 border-bottom light-grey-hover">
                                                                        <div class="row g-0">
                                                                            <div class="col-1 align-self-center">
                                                                                <p class="mb-0" dmx-text="start.formatDate('dd MMM')">
                                                                                    21 March</p>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="row g-0 align-items-center row-cols-1" id="rp_chargeweeks_item" is="dmx-repeat" dmx-bind:repeat="items">
                                                                                    <div class="col">
                                                                                        <div class="row g-0">
                                                                                            <hr class="table-divider" dmx-hide="$index == 0">
                                                                                            <div class="col-4">
                                                                                                <p class="mb-0" dmx-text="appSettings.days_array[classday]+' - '+startTimeDisplay+' '+appSettings.classLevelsByID[classlevel_uuid].name+' - '+appSettings.instructorsById[instructor_uuid].trunc_name">
                                                                                                    Wed Duckling 9:30AM
                                                                                                    - Melanie M.</p>
                                                                                            </div>
                                                                                            <div class="col">
                                                                                                <p class="mb-0" dmx-text="pricing.baseRate.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                                                    $18.88</p>
                                                                                            </div>
                                                                                            <div class="col d-flex flex-row">
                                                                                                <i class="fas fa-question-circle me-2 fa-fw clickable" dmx-bs-popover="'<strong>Enrolment Discount:</strong> '+pricing.multienrol_discount.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)+(pricing.multienrol_discount > 0 ? '<br><strong>ED Description:</strong> ' + pricing.multienrol_discount_description : '')+'<br><strong>Family Discount:</strong> '+pricing.family_discount.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)+(pricing.family_discount> 0 ? '<br><strong>FD Description:</strong> ' + pricing.familydiscount_description : '')" dmx-bind:popover-title="'Discounts'" data-bs-html="true" data-bs-trigger="hover" dmx-hide="(pricing.multienrol_discount + pricing.family_discount)===0" data-bs-placement="left"></i>
                                                                                                <p class="mb-0" dmx-text="(pricing.multienrol_discount + pricing.family_discount).formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                                                    $3.50</p>
                                                                                            </div>
                                                                                            <div class="col">
                                                                                                <p class="mb-0" dmx-text="pricing.holding_fee.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                                                    $1.00</p>
                                                                                            </div>
                                                                                            <div class="col">
                                                                                                <p class="mb-0" dmx-text="pricing.enrolgrandtotal.formatCurrency(localization.data.localization.currrency_symbol, appSettings.localization_num_separator, appSettings.localization_num_delimeter, 2)">
                                                                                                    $4.30</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ledger_processCharge" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true" dmx-on:hidden-bs-modal="form_submitCharge.reset()">
    <div class="modal-dialog modal-fullscreen-lg-down modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-primary-main">
                <h5 class="modal-title fw-300"><i class="bi-lightning-charge-fill me-2 fs-4"></i>Process Charge</h5>
            </div>
            <div class="modal-body">
                <dmx-value id="var_chargedetails"></dmx-value>
                <h4 class="fw-380 mb-3 pb-3 border-bottom" dmx-html="'<span class=&quot;fw-500&quot;>Charge for: </span>'+var_chargedetails.value.chargefor.replace(' - ',' ')">
                    <span class="fw-500">Charge for: </span> December 2021
                </h4>
                <form is="dmx-serverconnect-form" id="form_submitCharge" method="post" action="/api/families/ledger/tuitioncharge_node" dmx-generator="bootstrap5" dmx-form-type="inline" dmx-on:success="ledger_runCharge.tuitionquote.load({},true);ledger_processCharge.hide();ledger_runCharge.show();notifies1.success('Charge successfully created.')" dmx-on:error="notifies1.danger('Error '+ledger_processCharge.form_submitCharge.lastError.status+': '+ledger_processCharge.form_submitCharge.lastError.message+' - '+ledger_processCharge.form_submitCharge.lastError.response)">
                    <input class="form-control" id="inp_chargedetails" name="charge_json" placeholder="details" dmx-bind:value="ledger_processCharge.var_chargedetails.value.jsonStringify()" type="hidden">
                    <div class="row border-bottom">
                        <div class="col">
                            <div class="mb-3">
                                <label for="inp_chargeDate" class="col-form-label">Charge Date<span class="text-danger">*</span></label>
                                <input class="form-control" id="inp_chargeDate" name="charge_date" placeholder="Charge Date (dd/mm/yyyy)" dmx-bind:placeholder="'Charge Date (' + appSettings.localization_dateformat+')'" type="text" is="dmx-date-picker" dmx-bind:value="dateAndTime_days.datetime.formatDate('yyyy-MM-dd')" dmx-bind:readonly="!cb_overrideChargeDate.checked ? true : false" dmx-bind:format="appSettings.localization_dateformat.uppercase()" format="L">
                                <div class="form-check form-switch mb-0 mt-1 align-middle">
                                    <input class="form-check-input" type="checkbox" value="" id="cb_overrideChargeDate">
                                    <label class="form-check-label text-muted small" for="cb_overrideChargeDate">Override</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="inp_dueDate" class="col-form-label">Due Date<span class="text-danger">*</span></label>
                                <input class="form-control" id="inp_dueDate" name="due_date" placeholder="Due Date (dd/mm/yyyy)" required="" type="text" is="dmx-date-picker" dmx-bind:format="appSettings.localization_dateformat.uppercase()" format="DD/MM/YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="inp_title" class="col-form-label">Charge Title:</label>
                                <input class="form-control" id="inp_title" name="title" placeholder="Charge Title" dmx-bind:value="'Family Tuition Charge: ' + var_chargedetails.value.chargefor">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="ro_inp_chargeAmount" class="col-form-label">Total Charge:</label>
                                <input class="form-control" id="ro_inp_chargeAmount" dmx-bind:value="ledger_processCharge.var_chargedetails.value.totals.enrolsgrand" disabled="true" readonly="true">
                            </div>
                        </div>
                        <div class="col align-self-end d-flex flex-row justify-content-end">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary"><i class="bi-lightning-charge-fill me-2"></i>Process Charge
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex border-top justify-content-between">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" dmx-on:click="var_chargedetails.setValue(null);ledger_processCharge.hide();ledger_runCharge.show()">Cancel
                    Charge</button>
            </div>
        </div>
    </div>
</div>

<dmx-datetime id="currentDateVariable"></dmx-datetime>
<section class="bg-white p-5 pb-0 border-bottom">
    <div class="row">
        <div class="col d-flex flex-column">
            <div class="row row-cols-1 g-0">
                <div class="col placeholder-glow">
                    <a href="/families" class="text-body fw-800 mb-3"><i class="fas fa-arrow-left me-2"></i>Back to families list
                    </a>
                    <div class="row mt-3">
                        <div class="col d-flex">
                            <h1 class="mb-2 me-3 fw-900" dmx-html="'<i class=&quot;fas fa-users fa-fw me-2 text-primary&quot;></i><span class=&quot;me-2&quot;>Family:</span>'+familyDetails.data.query_family_details.firstName+' '+familyDetails.data.query_family_details.lastName">
                                <i class="fas fa-users fa-fw me-2 text-primary"></i>Family:
                            </h1>
                        </div>
                    </div>




                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <p class="d-flex align-items-center rounded-3 p-2 mb-0 clickable user-select-none pri-5-solid" dmx-show="familyDetails.data.query_max_note_priority.family_note_max===5 && familyDetails.data.query_max_note_priority.family_note_max" dmx-on:click="var_showPartial.setValue('notes')">
                        <i class="fas pdl-warning-white me-1 ms-2 fs-5"></i>
                        <i class="fas fa-sticky-note me-2"></i>CRITICAL note found for this family.
                    </p>
                    <p class="d-flex align-items-center rounded-3 p-2 mb-0 clickable user-select-none pri-4-solid" dmx-show="familyDetails.data.query_max_note_priority.family_note_max===4 && familyDetails.data.query_max_note_priority.family_note_max" dmx-on:click="var_showPartial.setValue('notes')">
                        <i class="fas pdl-warning-white me-1 ms-2 fs-5"></i>
                        <i class="fas fa-sticky-note me-2"></i>High priority note found for this family.
                    </p>
                    <p class="d-flex align-items-center rounded-3 p-2 mb-0 clickable user-select-none pri-3-solid" dmx-show="familyDetails.data.query_max_note_priority.family_note_max===3 && familyDetails.data.query_max_note_priority.family_note_max" dmx-on:click="var_showPartial.setValue('notes')">
                        <i class="fas pdl-warning-white black me-1 ms-2 fs-5"></i>
                        <i class="fas fa-sticky-note me-2"></i>Medium priority note found for this family.
                    </p>
                    <p class="d-flex align-items-center rounded-3 p-2 mb-0 clickable user-select-none pri-2-solid" dmx-show="familyDetails.data.query_max_note_priority.family_note_max<3 && familyDetails.data.query_max_note_priority.family_note_max" dmx-on:click="var_showPartial.setValue('notes')">
                        <i class="fas fa-sticky-note me-2"></i>Notes found for this family.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3 bg-white text-body d-flex justify-content-between" style="overflow: hidden;">
                    <ul class="nav detail-tabs align-items-stretch flex-row justify-content-start gx-2 text-body" id="navtabs_parent" role="tablist">
                        <li class="nav-item col-auto">
                            <a class="nav-link py-3 px-3 active" id="tab_overview" role="tab" aria-controls="navTabs1_1" aria-selected="true" style="" data-bs-toggle="tab" data-bs-target="#guardians" dmx-on:click="var_showPartial.setValue('overview')" dmx-class:active="var_showPartial.value==='overview'"><i class="fas fa-stream me-2 fa-fw"></i>Overview</a>
                        </li>
                        <li class="nav-item col-auto">
                            <a class="nav-link py-3 px-3" id="tab_enrolments" role="tab" aria-controls="navTabs1_1" aria-selected="true" style="" data-bs-toggle="tab" data-bs-target="#guardians" dmx-on:click="var_showPartial.setValue('enrolments')" dmx-class:active="var_showPartial.value==='enrolments'"><i class="fas fa-book-open me-2 fa-fw"></i>Enrolments</a>
                        </li>
                        <li class="nav-item col-auto">
                            <a class="nav-link py-3 px-3" id="tab_ledger" role="tab" aria-controls="navTabs1_2" aria-selected="false" style="" data-bs-toggle="tab" data-bs-target="#ledger" dmx-on:click="var_showPartial.setValue('ledger')" dmx-class:active="var_showPartial.value==='ledger'"><i class="fas fa-coins me-2 fa-fw"></i>Ledger
                            </a>
                        </li>
                        <li class="nav-item col-auto">
                            <a class="nav-link py-3 px-3" id="tab_stripe" role="tab" aria-controls="navTabs1_3" aria-selected="false" style="" data-bs-toggle="tab" data-bs-target="#paymentinfo" dmx-on:click="var_showPartial.setValue('payment')" dmx-class:active="var_showPartial.value==='payment'"><i class="fab fa-stripe-s me-2 fa-fw"></i>Stripe</a>
                        </li>
                        <li class="nav-item col-auto">
                            <a class="nav-link py-3 px-3" id="tab_emails" role="tab" aria-controls="navTabs1_3" aria-selected="false" style="" data-bs-toggle="tab" data-bs-target="#emails"><i class="far fa-envelope me-2 fa-fw"></i>Emails
                            </a>
                        </li>
                        <li class="nav-item col-auto">
                            <a class="nav-link py-3 px-3" id="tab_notes" role="tab" aria-controls="navTabs1_3" aria-selected="false" style="" data-bs-toggle="tab" data-bs-target="#notes" dmx-on:click="var_showPartial.setValue('notes')" dmx-class:active="var_showPartial.value==='notes'"><i class="far fa-sticky-note me-2 fa-fw"></i>Notes
                            </a>
                        </li>
                        <li class="nav-item col-auto">
                            <a class="nav-link py-3 px-3" id="tab_logs" role="tab" aria-controls="navTabs1_3" aria-selected="false" style="" data-bs-toggle="tab" data-bs-target="#logs" dmx-on:click="var_showPartial.setValue('logs')" dmx-class:active="var_showPartial.value==='logs'"><i class="fas fa-list-ol me-2 fa-sm fa-fw"></i>Logs
                            </a>
                        </li>
                        <li class="nav-item col-auto">
                            <a class="nav-link py-3 px-3" id="tab_advanced" role="tab" aria-controls="navTabs1_3" aria-selected="false" style="" data-bs-toggle="tab" data-bs-target="#advanced_tab"><i class="fas fa-user-cog me-2 fa-fw"></i>Adv.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<main class="d-flex flex-grow-1 flex-column justify-content-start p-5 pt-4 pb-5 mb-5 position-relative" style="">


    <dmx-value id="var_showPartial" dmx-bind:value="'overview'"></dmx-value>
    <section is="dmx-if" id="cr_familyoverview" dmx-bind:condition="var_showPartial.value=='overview'">
        <div class="row g-0" dmx-animate-enter.duration:200.delay:200="fadeIn">
            <div class="col p-0">
                <%- await include('/partials/families/_overview', Object.assign({}, locals)) %>
            </div>
        </div>

    </section>
    <section is="dmx-if" id="cr_familyenrolments" dmx-bind:condition="var_showPartial.value=='enrolments'">
        <div class="row g-0" dmx-animate-enter.duration:200.delay:200="fadeIn">
            <div class="col p-0">
                <%- await include('/partials/families/_enrolments', Object.assign({}, locals)) %>
            </div>
        </div>

    </section>
    <section is="dmx-if" id="cr_familyledger" dmx-bind:condition="var_showPartial.value=='ledger'">
        <div class="row g-0" dmx-animate-enter.duration:200.delay:1000="fadeIn">
            <div class="col p-0">
                <%- await include('/partials/families/_ledger', Object.assign({}, locals)) %>
            </div>
        </div>

    </section>
    <section is="dmx-if" id="cr_familypayinfo" dmx-bind:condition="var_showPartial.value=='payment'">
        <div class="row g-0" dmx-animate-enter.duration:200.delay:1000="fadeIn">
            <div class="col p-0">
                <%- await include('/partials/families/_payments', Object.assign({}, locals)) %>
            </div>
        </div>

    </section>
    <section is="dmx-if" id="cr_familynotes" dmx-bind:condition="var_showPartial.value=='notes'">
        <div class="row g-0" dmx-animate-enter.duration:200.delay:1000="fadeIn">
            <div class="col p-0">
                <%- await include('/partials/families/_notes', Object.assign({}, locals)) %>
            </div>
        </div>

    </section>
    <section is="dmx-if" id="cr_familylogs" dmx-bind:condition="var_showPartial.value=='logs'">
        <div class="row g-0" dmx-animate-enter.duration:200.delay:1000="fadeIn">
            <div class="col p-0">
                <%- await include('/partials/families/_logs', Object.assign({}, locals)) %>
            </div>
        </div>

    </section>
</main>
<% page_title="{{familyDetails.data.query_family_details.firstName+' '+familyDetails.data.query_family_details.lastName}}" %>